<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.river.rbac.mapper.UserMapper">

	<!-- 按条件查询 -->
	<select id="get" parameterType="com.river.rbac.bean.UserBean" resultType="com.river.rbac.bean.UserBean">
		SELECT * FROM t_user WHERE 1=1
		<if test="id != null and id !=''">AND id=#{id}</if>
		<if test="account != null and account !=''">AND account=#{account}</if>
		<if test="password != null and password !=''">AND password=#{password}</if>
		<if test="status != null and status !=''">AND status=#{status}</if>
	</select>
	<!-- 登录验证查询 -->
	<select id="login" resultType="com.river.rbac.bean.UserBean">
		SELECT * FROM t_user WHERE account =#{account} AND status=#{status}
	</select>
	<!-- 插入数据 -->
	<insert id="post" parameterType="com.river.rbac.bean.UserBean">
		INSERT INTO r_user (id,name,password)
		VALUES (#{id},#{name},#{password})
	</insert>
	<!-- 更新数据 -->
	<update id="put" parameterType="com.river.rbac.bean.UserBean">
		UPDATE r_user SET(name,password) VALUES (#{name},#{password}) WHERE id=#{id}
	</update>
	<!-- 删除数据 -->
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM r_user WHERE id=#{id}
	</delete>
</mapper>